@charset "utf-8";


/* 버튼 공통 디자인 */
.more-btn {display: inline-block; text-align: center; vertical-align: middle; }
/* 버튼 사이즈 */
.more-btn.medium { height : 48px; line-height: 48px; padding: 0 16px; }
/* 버튼 컬러 */
.more-btn.color-black {box-shadow: 0 0 0 1px #222; color: #222;}


/*==================================================
 메인 슬라이드
==================================================*/
.slide-wrap {width: 100%;}
.slide-wrap .slide-view {width: 100%; overflow: hidden;}
.slide-wrap .slide-view .slide-group {display: flex; width: 600%;}
.slide-wrap .slide-view .slide-group .slide-box {position: relative; width: 16.66666%;}
.slide-wrap .slide-view .slide-group .slide-box .container {height: 100%; flex-direction: column; align-items: flex-start; justify-content: center;}
.slide-wrap .slide-view .slide-group .slide-box .photo .pc-photo img {width: 100%; object-fit: contain; object-position: center;}
.slide-wrap .slide-view .slide-group .slide-box .copy { position: absolute; top: 0; left: 0; width: 100%; height: 100%; color: #222; }
.slide-wrap .slide-view .slide-group .slide-box .copy .small-txt {font-weight: bold; font-size: 1.5rem; line-height: 1; letter-spacing: -0.0375rem;}
.slide-wrap .slide-view .slide-group .slide-box .copy .big-txt { margin-top: 30px; font-weight: bold; font-size: 3.75rem; line-height: 1.18; letter-spacing: -0.1875rem;}
.slide-wrap .slide-view .slide-group .slide-box .copy .more-btn {margin-top: 60px; min-width: 170px; border-radius:  50px; font-weight: bold; }



/*==================================================
  메인 모듈 디자인
==================================================*/
.module-wrap {width: 100%; overflow: hidden;}
.module-wrap .module-group {display: flex; width: 400%;}
.module-wrap .module-group .module-box {position: relative; width: 25%;}
.module-wrap .module-group .module-box .container {flex-wrap: wrap; gap: 25px; }
.module-wrap .module-group .module-box .new-list li {width: calc(100%/3 - 16.66667px); background-color: #f3f3f3;}
.module-wrap .module-group .module-box .new-list li a {padding: 10px 10px 52px; text-align: center;}
.module-wrap .module-group .module-box .new-list li a .photo {height: 204px;}
.module-wrap .module-group .module-box .new-list li a .photo img {height: 100%; margin: 0 auto;}
.module-wrap .module-group .module-box .honeymoon-list {height: 660px; justify-content: space-between;align-content: space-between; flex-direction: column; gap: initial;}
.module-wrap .module-group .module-box .honeymoon-list li~li {width: 330px; height: calc(100%/2 - 12.5px);}
.module-wrap .module-group .module-box .honeymoon-list li:first-child {position: absolute; top: 0; left: 50%; max-width: 690px; transform: translateX(-50%);}
.module-wrap .module-group .module-box .honeymoon-list li a {max-width: 100%; height: 100%;}
.module-wrap .module-group .module-box .honeymoon-list li a .photo { height: 100%; overflow: hidden;}
.module-wrap .module-group .module-box .honeymoon-list li a .photo img {width: 100%; height: 100%; object-fit: cover;}



/*==================================================
  인기 추천 가전
==================================================*/
.popular-wrap {max-height: 896px; padding: 60px 0 100px; background: url('../image/bg_main_popular.jpg') 50% 50%/cover;}
.popular-wrap .container {}
.popular-wrap .popular-view {width: 100%;}
.popular-wrap .popular-view .popular-group {display: flex; width: 300%;}
.popular-wrap .popular-view .popular-group .popular-box {width: 33.33333%;}
.popular-wrap .popular-view .popular-group .popular-box ul {padding: 0 15px; gap: 55px;}
.popular-wrap .popular-view .popular-group .popular-box ul li { width: calc(100%/3 - 36.666667px); padding: 10px 10px 40px; text-align: center; background-color: #f3f3f3;}
.popular-wrap .popular-view .popular-group .popular-box ul li {}
.popular-wrap .popular-view .popular-group .popular-box ul li .photo {display: flex; width: 400px; height: 400px; align-items: center;}
.popular-wrap .popular-view .popular-group .popular-box ul li .photo img {max-width: 300px; max-height: 300px; margin: 0 auto;}






section .pc-image img {width: 10%;}